<div id="sidebar">
    <div>
      <span class="heading tier3">Table of Contents</h4>
    </div>
    
    <ol class="toc doc-counter" style="list-style-position: outside;">
      {{#oai}}
        {{#info}}
          <li class="toc-entry doc-counter toc-tab0">
            <a class="toc-link" href="#_overview">Overview</a>
            <ol class="doc-counter">
              {{#version}}
                <li class="toc-entry doc-counter toc-tab1">
                  <a class="toc-link" href="#_version_information">
                    Version Information
                  </a>
                </li>
              {{/version}}
              {{#contact}}
                <li class="toc-entry toc-tab1 doc-counter">
                  <a class="toc-link" href="#_contact_information">
                    Contact Information
                  </a>
                </li>
              {{/contact}}

              {{#license}}
                <li class="toc-entry toc-tab1 doc-counter">
                  <a class="toc-link" href="#_license">
                    License Information
                  </a>
                </li>
              {{/license}}

            </ol>
          </li>
        {{/info}}
      {{/oai}}

      {{#oai.info.description}}
          <li class="toc-entry doc-counter toc-tab0">
            <a class="toc-link" href="#_description">
              Description
            </a>
            <ol class="doc-counter">
              {{{md2HtmlSidebar "description" this "1" "0"}}}
            </ol>
          </li>
      {{/oai.info.description}}

      {{#preOaiMds}}
        <li class="toc-entry doc-counter">
          {{{md2HtmlSidebar this.identifier this.data "1" "1"}}}
        </li>
      {{/preOaiMds}}

      {{#oai}}
        {{#apiInfo}}
          <li class="toc-entry doc-counter">
            <a class="toc-link" href="#_paths">Paths</a>
            <ol class="doc-counter">
              {{#apis}}
                <li class="toc-entry toc-tab1 doc-counter">
                  <a class="toc-link" href="#_{{{snakeCase "paths" baseName}}}">
                    {{{baseName}}}
                  </a>
                  <ol class="doc-counter">
                    {{#operations}}
                      {{#operation}}
                        <li class="toc-entry toc-tab2 doc-counter">
                          <a class="toc-link" href="#_{{{snakeCase "paths" ../../baseName summary}}}">
                            {{{summary}}}
                          </a>
                          <ol class="doc-counter">
                            
                            <li class="toc-entry toc-tab3 doc-counter">
                              <a class="toc-link" href="#_{{{snakeCase "paths" ../../baseName summary "description"}}}">
                                Description
                              </a>
                            </li>

                            {{#hasParams}}
                              <li class="toc-entry toc-tab3 doc-counter">
                                <a class="toc-link" href="#_{{{snakeCase "paths" ../../baseName summary "parameters"}}}">
                                  Parameters
                                </a>
                              </li>
                            {{/hasParams}}

                            <li class="toc-entry toc-tab3 doc-counter">
                              <a class="toc-link" href="#_{{{snakeCase "paths" ../../baseName summary "responses"}}}">
                                Responses
                              </a>
                            </li>

                            {{#hasTags}}
                              <li class="toc-entry toc-tab3 doc-counter">
                                <a class="toc-link" href="#_{{{snakeCase "paths" ../../baseName summary "tags"}}}">
                                  Tags
                                </a>
                              </li>
                            {{/hasTags}}
                          </ol>
                        </li>
                      {{/operation}}
                    {{/operations}}
                  </ol>
                </li>
              {{/apis}}
            </ol>
          </li>
        {{/apiInfo}}

        {{#components}}
          {{#hasSchemas}}
            <li class="toc-entry doc-counter">
              <a href="#_{{{snakeCase "definitions"}}}" class="toc-link">
                Definitions
              </a>
              <ol class="doc-counter">
                {{#schemas}}
                  <li class="toc-entry toc-tab1 doc-counter">
                    <a href="#_{{{snakeCase "definitions" name }}}" class="toc-link">{{{name}}}</a>
                  </li>
                {{/schemas}}
              </ol>

            </li>
          {{/hasSchemas}}
        {{/components}}

      {{/oai}}

      {{#postOaiMds}}
        <li class="toc-entry doc-counter">
          {{{md2HtmlSidebar this.identifier this.data "1" "1"}}}
        </li>
      {{/postOaiMds}}
    </ol>
  </div>
