body {
	color: red;
	margin-right: 24px;
  margin: 0 24px 0 0;
  padding: 0;
  font-family: Lato;
  font-weight: 300;
}

h1 {
  margin: 0;
}

.heading {
  color: #1b75bb;
}

.tier1 {
  font-size: 2.25rem;
}
.tier2	{
	font-size: 1.75rem;
}
.tier3	{
	font-size: 1.50rem;
}
.tier4 {
  font-size: 1.25rem;
}

hr	{
	height: 1px;
	border: 0;
	color: #ddd;
	background-color: #ddd;
}

ol.doc-counter {
  counter-reset:item;
  padding-left: 0;
}

li.doc-counter {
  display: block;
}

li.doc-counter:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.avoid-navbar {
  padding-top: 52px;
}

.p {
  font-size: 1.10rem;
  color: black;
  margin: 0;
  line-height: 1.25;
  padding-top: 10px;
  padding-bottom: 10px;
}

.t {
  font-size: 16px;
  color: black;
  margin: 0;
}

.app-desc {
  clear: both;
  margin-left: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: #DDD;
}

.param-name {
  width: 100%;
}

tr:nth-child(even) {
  background: #f7f8f7;
}

.tbl {
  width: 100%;
  font-size: 1.10rem;
  color: black;
  margin-top: 10px;
}

.tbl-cell {
  padding: 10px;
  border: 1px solid #ccc;
}

.tbl-header {
  background: #f7f8f7;
}

.toc-entry {
  color: #1b75bb;
}

.toc-link {
  color: #1b75bb;
}

.toc-tab1 {
  text-indent: 8px;
}

.toc-tab2 {
  text-indent: 16px;
}

.toc-tab3 {
  text-indent: 24px;
}

.license-info {
  margin-left: 20px;
}

.license-url {
  margin-left: 20px;
}

.model {
  margin: 0 0 0px 20px;
}

.method {
  margin-left: 20px;
}

.method-notes	{
	margin: 10px 0 20px 0;
	font-size: 90%;
	color: #555;
}

pre {
  padding: 10px;
  margin-bottom: 2px;
}

.http-method {
 text-transform: uppercase;
}

pre.get {
  background-color: #0f6ab4;
}

pre.post {
  background-color: #10a54a;
}

pre.put {
  background-color: #c5862b;
}

pre.delete {
  background-color: #a41e22;
}

.huge	{
	color: #fff;
}

pre.example {
  background-color: #f3f3f3;
  padding: 10px;
  border: 1px solid #ddd;
}

code {
  white-space: pre;
}

.nickname {
  font-weight: bold;
}

.method-path {
  font-size: 1.5em;
  background-color: #0f6ab4;
}

.toc {
  list-style-type: none;
  padding-left: 0;
}

.up {
  float:right;
}

.parameter {
  width: 500px;
}

.param {
  width: 500px;
  padding: 10px 0 0 20px;
  font-weight: bold;
}

.param-desc {
  width: 700px;
  padding: 0 0 0 20px;
  color: #777;
}

.param-type {
  font-style: italic;
}

.param-enum-header {
width: 700px;
padding: 0 0 0 60px;
color: #777;
font-weight: bold;
}

.param-enum {
width: 700px;
padding: 0 0 0 80px;
color: #777;
font-style: italic;
}

.field-label {
  padding: 0;
  margin: 0;
  clear: both;
}

.field-items	{
	padding: 0 0 15px 0;
	margin-bottom: 15px;
}

.return-type {
  clear: both;
  padding-bottom: 10px;
}

.param-header {
  font-weight: bold;
}

.method-tags {
  text-align: right;
}

.method-tag {
  background: none repeat scroll 0% 0% #24A600;
  border-radius: 3px;
  padding: 2px 10px;
  margin: 2px;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
}

.section {
  border-bottom: 1px solid #ccc;
}

.section-header {
  display: inline-block;
}

.section-block {
  padding-top: 20px;
}

.subsection-header {
  padding-top: 20px;
}

.title {
  border-bottom: 1px solid #ccc;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#main {
  font-family: Lato;
  font-weight: 300;
  padding-top: 100px;
}

#sidebar {
  font-family: Lato;
  font-weight: 300;
  background: #f7f7f8;
  padding: 100px 20px 20px 30px;
  height: 100vh;
  overflow-y: scroll;
}

#navbar {
  position: fixed;
}

#sidebar-column {
  padding: 0;
  position:fixed;
  z-index: 1000;
}

#main-column {
  padding: 0;
}